  </main>
  <script>
    // Minimal navbar toggle without Bootstrap JS
    (function(){
      const btn = document.querySelector('.navbar-toggler');
      const nav = document.getElementById('nav');
      if (btn && nav) {
        btn.addEventListener('click', function(){
          nav.classList.toggle('show');
        });
      }
    })();
  </script>
</body>
</html>


